// reuse basic mod-morph scheme
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2) \
    ZMK_BEHAVIOR(NAME, mod_morph, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )

// tap: comma | shift + tap: semicolon | ctrl + shift + tap: <
SIMPLE_MORPH(comma_morph, SFT, &kp COMMA, &comma_inner_morph)
SIMPLE_MORPH(comma_inner_morph, CTL, &kp SEMICOLON, &kp LESS_THAN)

// tap: dot | shift + tap: colon | ctrl + shift + tap: >
SIMPLE_MORPH(dot_morph, SFT, &kp DOT, &dot_inner_morph)
SIMPLE_MORPH(dot_inner_morph, CTL, &kp COLON, &kp GREATER_THAN)

// tap: left/right parenthesis | shft + tap: less-than/greater-than
SIMPLE_MORPH(lpar_lt, SFT, &kp LPAR, &kp LT)
SIMPLE_MORPH(rpar_gt, SFT, &kp RPAR, &kp GT)

// tap: backspace | mod + tap: delete 
ZMK_BEHAVIOR(bs_del, mod_morph,
    bindings = <&kp BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT)>;
)
ZMK_BEHAVIOR(lt_bs_del, hold_tap,
	tapping-term-ms = <200>;
	quick-tap-ms = <175>;
	bindings = <&mo>, <&bs_del>; 
)

// Keeping this here as an exapmle of needing to provide hold tap with a dummy
// binding cell when defining keymap ex. &lt_bspc NUM 0
// https://www.reddit.com/r/zmk/comments/12ujlmb/combing_modmorph_and_layer_tap/
ZMK_BEHAVIOR(mm_ctr_bspc, mod_morph,
	bindings = <&kp LC(BSPC)>, <&kp BSPC>;
	mods = <(MOD_LCTL|MOD_RCTL)>;
)
ZMK_BEHAVIOR(lt_bspc, hold_tap,
	tapping-term-ms = <200>;
	quick-tap-ms = <175>;
	bindings = <&mo>, <&mm_ctr_bspc>; 
)

// Unshift -- use shift-SYM to get NUM
SIMPLE_MORPH(us_plus,  SFT, &kp PLUS,  &kp EQUAL)
SIMPLE_MORPH(us_amps,  SFT, &kp AMPS,  &kp N7)
SIMPLE_MORPH(us_star,  SFT, &kp STAR,  &kp N8)
SIMPLE_MORPH(us_dllr,  SFT, &kp DLLR,  &kp N4)
SIMPLE_MORPH(us_prcnt, SFT, &kp PRCNT, &kp N5)
SIMPLE_MORPH(us_caret, SFT, &kp CARET, &kp N6)
SIMPLE_MORPH(us_excl,  SFT, &kp EXCL,  &kp N1)
SIMPLE_MORPH(us_at,    SFT, &kp AT,    &kp N2)
SIMPLE_MORPH(us_hash,  SFT, &kp HASH,  &kp N3)
SIMPLE_MORPH(us_tilde, SFT, &kp TILDE, &kp GRAVE)
SIMPLE_MORPH(us_pipe,  SFT, &kp PIPE,  &kp BSLH)
SIMPLE_MORPH(us_under, SFT, &kp UNDER, &kp MINUS)
